img.img-profile {
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.col-sm-6.profile {
    display: flex;
    justify-content: end;
    align-items: center;
}

@media (max-width: 570px) {
    .col-sm-12.fotopas .col-sm-6 {
        width: 50%;
    }
}


/* NAVIGATION BAR */

.navbar-brand {
    padding: 14px 20px;
    font-size: 16px
}

.navbar-nav {
    width: 100%
}

.nav-item {
    padding: 0;
    text-align: center
}

.nav-link {
    padding-bottom: 10px
}

.v-line {
    background-color: gray;
    width: 1px;
    height: 20px
}

.navbar-collapse.collapse.in {
    display: block !important
}

@media (max-width: 576px) {
    .nav-item {
        width: 100%;
        text-align: left
    }
    .v-line {
        display: none
    }
}

div#navbarNav ul {
    right: 0 !important;
    margin-right: 0;
    display: flex;
    justify-content: end;
}

.dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    padding: 10px 15px;
    text-align: right;
}

.carousel-caption {
    position: initial !important;
    z-index: 10;
    padding: 0;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem;
}

.social-contact.ml-4.ml-sm-auto a {
    color: #fff;
}

div#navbarNav a.nav-link i {
    margin-right: 5px;
    color: #000;
    font-size: 16px;
}

div#navbarNav a.nav-link {
    color: #000;
    font-size: 16px;
}

li.nav-item.active a {
    color: #673ab7 !important;
}

li.nav-item.active a i {
    color: #673ab7 !important;
}

@media (min-width: 886px) {
    .navbar-expand-sm .navbar-toggler {
        display: none !important;
    }
}

.navbar-toggler {
    padding: 0 !important;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin: 0 !important;
}

@media (min-width: 886px) {
    .navbar-expand-sm .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../../frontend/img/nav-button.png) !important;
    font-size: 24px;
}

.navbar-light .navbar-toggler {
    border: 2px solid #673ab7 !important;
    padding: 2px 8px !important;
}

.row.px-3.remember-password {
    margin-top: 15px;
}

.navbar-dark .navbar-brand {
    color: #000;
    font-weight: bold;
    padding: 0;
}

.bg-black {
    background-color: #ffffff;
}

#logo {
    width: 50px;
    height: auto;
    border-radius: 4px;
}

body.snippet-body {
    background-color: transparent;
    background-image: url(../../frontend/img/pmb-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
}

@media (min-width: 990px) {
    .container-fluid.px-1.px-md-5.px-lg-1.px-xl-5.py-5.mx-auto {
        padding: 0 3rem 3rem 3rem !important;
        margin: 0 !important;
    }
}

.card2.card.border-0.px-4.py-5.register-card {
    padding-top: 0 !important;
}

.container-fluid.px-1.px-md-5.px-lg-1.px-xl-5.py-5.mx-auto .card.card0.border-0 {
    box-shadow: none;
    width: 80%;
    margin: 0 10%;
    padding-top: 25px;
}

@media (min-width: 1200px) {
    .pl-xl-5,
    .px-xl-5 {
        padding: 0 10rem !important;
    }
}

.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
    color: #000;
}

.container-fluid {
    margin-top: 20px;
}

.card.px-0.pt-4.pb-0.mt-3.mb-3 {
    border: 0;
}

div#navbarNav ul a.nav-link svg {
    margin-right: 5px;
}

@media (min-width: 1032px) {
    .navbar-expand-sm .navbar-toggler {
        display: none;
    }
}

.container-fluid.px-1.px-md-5.px-lg-1.px-xl-5.mx-auto .card.card0.border-0 {
    box-shadow: none;
    width: 80%;
    margin: 0 10%;
    padding: 25px 10px 10px 10px;
}

.navbar-collapse.collapse.show li.nav-item {
    width: 100%;
    /* text-align: right; */
    padding: 10px 0;
}

.social-contact.ml-4.ml-sm-auto a {
    color: #fff;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        justify-content: end;
    }
}

div#navbarResponsive i {
    margin-right: 5px;
    color: #673ab7;
}

div#navbarResponsive a {
    color: #673ab7;
}

.navbar-collapse.collapse.show a {
    text-align: left;
    padding: 10px 0 !important;
}

.container-fluid.nav-unipa {
    padding: 0 !important;
}

nav#mainNav {
    padding: 0 !important;
}

.collapse.navbar-collapse a.nav-link {
    padding: 0 20px !important;
}

.card2.card.border-0.px-4.py-5.loginPage {
    padding: 10px 0 !important;
    margin: 10px 10px 10px 15px;
}

.navbar-collapse.collapse.show a.nav-link {
    padding: 0 !important;
}

@media (max-width: 670px) {
    .container-fluid.px-1.px-md-5.px-lg-1.px-xl-5.mx-auto .card.card0.border-0 {
        box-shadow: none;
        width: 90%;
        margin: 0 5%;
        padding-top: 25px;
    }
}

nav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3.navbar-shrink {
    background-color: #fff;
}

nav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3 {
    background-color: #fff;
}

@media (max-width: 386px) {
    a.navbar-brand {
        display: none;
    }
}

.card.px-0.pb-0.mb-3 {
    border: 0;
}

.collapse.navbar-collapse ul.navbar-nav.ms-auto.my-2.my-lg-0 li {
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.collapse.navbar-collapse.show ul.navbar-nav.ms-auto.my-2.my-lg-0 li {
    display: flex;
    justify-content: start !important;
    align-items: center;
}

.collapse.navbar-collapse ul.navbar-nav.ms-auto.my-2.my-lg-0 {
    display: flex;
    justify-content: end !important;
    align-items: center;
}

.navbar-collapse.collapse.show ul.navbar-nav.ms-auto.my-2.my-lg-0 {
    display: flex;
    justify-content: start !important;
    align-items: center;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9);
    font-weight: bold;
    padding: 14px 15px !important;
}

.modal-backdrop.show {
    opacity: 0;
}


/* Modal Logout */

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop {
    position: initial;
    top: 0;
    left: 0;
    z-index: 999 !important;
    width: 100vw;
    height: 100vh;
}

div#logoutModal {
    backdrop-filter: brightness(0.5);
}

button.navbar-toggler.navbar-toggler-right.collapsed {
    border: 2px solid #fd7e14 !important;
    outline: none !important;
}

button.navbar-toggler.navbar-toggler-right.collapsed:focus {
    border: 0 !important;
}

.card2.card.border-0.px-4.py-5 {
    border: 0 !important;
}

.register-card {
    margin: 30px 0 0 0 !important;
}

.card2.card.border-0.px-0.py-0 {
    padding: 2rem 0 10px 0 !important;
}

.card2.card.border-0.px-0.py-0 {
    margin: 0 !important;
}


/*  Unguh informasi */

.row.d-flex.unduhInformasi a:hover {
    text-decoration: none;
    color: #673ab7;
}

.row.pengumuman .col-lg-6 .card {
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
}

.unduhInformasi .col-lg-4 .card {
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
}

.bg-blue.py-4.bagianfoter {
    background-color: #673ab7;
    box-shadow: 0px 4px 8px 0px #757575;
}


/* Button download-page-informasi dan selengkapnya-agenda */

a.downloadform {
    background-color: #673ab7;
    border: 0;
    display: flex;
    justify-content: space-around;
}

a.btnAgenda {
    background-color: #673ab7;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 25%;
    margin-top: 10px;
}

a.downloadform:hover,
a.btnAgenda:hover {
    color: #fff !important;
}

a.btnAgenda .fasbtnAgenda {
    margin-left: 10px;
}

.px-lg-2.pb-4.textmuted {
    padding-left: 0 !important;
}

.row.pengumuman .lihatHasil {
    height: 100%;
}

.row.d-flex.unduhInformasi td:hover {
    color: #673ab7 !important;
    font-weight: bold;
}

.infoAgenda .col-md-8 {
    width: 75% !important;
    max-width: 75% !important;
    flex: 0 0 75% !important;
}